@font-face {
    font-family: raleway;
    src:local(Raleway-Regular)
}
body
{   
    font-family: raleway, sans-serif;
    margin : 0 20px 0;    
}
img {
    background-size: cover;
    position: center;
}
/* header*/
a{
    text-decoration: none;
    color:black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    max-width: 30%;
}
.nav{
    display: flex;
    align-items: center; 
}
.liste_menu{
    display: flex;
    list-style: none;
}
.nav a{
    text-decoration: none;
    margin-right: 15px;
    }
.menu{
    border : 2px solid transparent;
    padding : 17px;
}
.menu:hover{
    border-top-color:  #0065FC;
    color: #0065FC;
}
.subscribe a{
    color:#0065FC;
}
/*Rechercher*/
.rechercher{
    display: flex;
    align-items: center;
}
.form{
    display: flex;
}
.rechercher i{
    border: 1px solid  #F2F2F2;
    background-color:  #F2F2F2;
    padding : 12px 12px;
    border-radius: 15px 0 0 15px;
}
#bouton_rechercher{
    padding : 12px 12px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    border: #0065FC solid 1px;
    color: white;
    font-weight: bold;
    
}
/*filtre*/
.filtre
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.icone
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px ;
    border: solid 1px #F2F2F2;
    border-radius: 100px;
    padding-right: 10px;
    height: 35px;
}
.icone i
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width : 35px;
    color: #0065FC;
    border: solid 1px #DEEBFF;
    border-radius : 50px;
    background-color: #DEEBFF;
    margin-right: 10px;
}

#info
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 20px 0px;
}
#I{
    border: 1px solid #F2F2F2;
    border-radius: 100px;
    padding : 10px 15px 10px 15px;
    margin-right: 8px;
    color: #0065FC;
}
/* Hebergements */
.articles img{
    width : 220px;
    height: 100px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
}
.section1{
    display: flex;
    justify-content: space-between;  
}
.hebergements{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    width: 60%;
    background-color: #F2F2F2;
    margin-right: 25px;
}
.articles{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.articles_hebergement{

    border : solid 1px white;
    margin-bottom: 15px;
    border-radius: 25px;
    background-color: white;
    padding: 5px 5px;

}
/*Populaire*/

.populaire{
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    padding: 0 3.5em;
    background-color: #F2F2F2;
    width : 25%;
}
.populaire_chart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.articles_populaires{
    display: flex;
    border: solid 1 white;
    background-color: white;
    border-radius: 25px;
    padding: 5px 5px;
    margin-bottom: 5px;
}
.articles_populaires img{
    border-radius: 25px 0 0 25px;
    margin-right: 5px;
    height: 134px;
    width: 127px;
    object-fit: cover;
}
.text_article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*activités*/
.main_activites{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }
.grande_img
{
    background-size: cover;
    height : 440px;
    width : 250px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;

}
.petite_img
{
    object-fit: cover;
    position: center;
    height: 200px;
    width : 320px;
    border-radius: 12px 12px 0 0;
}
/*footer*/
footer
{
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
    margin-top: 20px;
    background-color: #F2F2F2;
}
.footer li
{
    list-style: none;
    margin-left: -40px;
    
}
.footer a
{ 
    text-decoration: none;
    color: black;
}