@font-face {
    font-family: raleway;
    src:local(Raleway-Regular)
}
body
{width: 1340px;
    margin : auto;}
img {
    background-size: cover;
    position: center;
}
/* header*/
    header 
{
    display: flex;
    justify-content: space-between;
}
nav ul
{
list-style: none;
display: flex;
justify-content: space-around;

}
nav li a
{
    display: block;
    text-decoration: none;
    margin-right : 25px;
}
#logo 
{
    height: 50px;
    width: 110px;
    margin-top: 15px;
}
img
{
    background-size: cover;
}
/*Rechercher*/
#rechercher{
    display: flex;
}

/*filtre*/
.icone
{
    display: flex;
    flex-direction: row;
}

.filtre
{
    display: flex;
    flex-direction: row;
}
#info i
{
    margin-right: 8px;
}
#info
{
    display: flex;
    justify-content: left;
    align-items: center;
}
#logo_info
{
    margin-right: 8px;
    color: #0065FC;
}
/*hebergement*/
aside 
{
    float: right;
}
.article1
{
    display: inline-block;
    flex-wrap: wrap;
    align-content : flex-start;
  
}
.article1 img
{
    height: 115px;
    width: 235px;
}
.article2 img
{
    height: 134px;
    width: 127px;
}
/*activités*/
.activites
{
    display: inline-block;
    align-items: center;
}
.grande_img
{
    height: 390px;
    width: 300px;
    background-size: cover;
    position: center;
}
.petite_img
{
    height: 180px;
    width: 300px;
    background-size: cover;
    position: center;
}
/*footer*/
.footer
{
    display: inline-block;
    margin-right: 70px;
    
}